<!DOCTYPE html>
<html>
    <head>
        <title>Yoga Pose Editor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
        /*ul.nav-pills {position:fixed} */
        #myPoses {overflow-y: scroll; position:fixed; }
        #mySeqs {overflow-y: scroll; }
        .myround {border-radius: 100%; }
        .myPose {border: 1px solid #ccc; }
        </style>

        <script>
            function init()
            {
                panelResize();
                $('.navbar').on('show.bs.collapse', function () {
                        var actives = $(this).find('.collapse.in'),
                        hasData;

                        if (actives && actives.length) 
                        {
                        hasData = actives.data('collapse')
                        if (hasData && hasData.transitioning) return
                        actives.collapse('hide')
                        hasData || actives.data('collapse', null)
                        }
                });
            }

            function panelResize()
            {
                //alert("ok " + window.innerHeight + " " + window.innerWidth);
                //alert("ok " + document.getElementById("mySeqs").style.height);
                var TopOffset = document.getElementById("topbar").offsetHeight;
                var BottomOffset = document.getElementById("bottombar").offsetHeight;
                //var Height = window.innerHeight - TopOffset - BottomOffset;
                var Height = window.innerHeight - TopOffset;
                var Width = document.getElementById("myPosesOuter").offsetWidth;
                document.getElementById("myPoses").style.height = Height.toString() + "px";
                document.getElementById("myPoses").style.maxWidth = Width.toString() + "px";
                //document.getElementById("mySeqs").style.height = Height.toString() + "px";
            }

            function initMyPoses()
            {
                //document.getElementById("myPoses").style.height = "800px";
                //alert("initMyPoses() " + Height +" " + TopOffset + " " + BottomOffset );
            }

            function initMySeqs()
            {
                //alert("initMySeqs()");
                //document.getElementById("mySeqs").style.height = window.innerHeight;
            }
        </script>

    </head>
    <body onload="init();" onresize="panelResize();">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="topbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-nav" aria-expanded="false" aria-control="navbar" style="">
                        <span class="sr-only">Toggle Navigation</span>
                        <!--<span class="glyphicon glyphicon-user" style="color:#fff"></span> -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#yoga-nav" aria-expanded="false" aria-control="navbar">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">YogaFire</a>
                    <p class="navbar-text">Name</p>
                </div>
                <div id="yoga-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="">View</a></li>
                        <li class="drowdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New..<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Class</a></li>
                                <li><a href="">Lesson</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="user-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Logout</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row" style="padding-top:50px; ">
                <div id="myPosesOuter" class="col-sm-3 col-xs-4" align="center" style="padding-bottom:60px; padding-left:0px; padding-right:0px;">
                    <div id="myPoses" style="background-color:#f5f5f5; ">
                        <style  onload="initMyPoses();">
                        </style>
                        <ul class="nav">
                            {% for pose in poses %}
                            <li>
                                <div class="myPose">
                                    <h5> {{pose.english_name}} </h5>
                                    <img class="img-thumbnail" alt="{{pose.english_name}}" data-holder-rendered="true" src={{pose.pose_image.url}} style="width:72px; height:72px">
                                    <h6> {{pose.register_date}} </h6>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-8" id="mySeqs" align="center" onload="initMySeqs()" style="padding-bottom:60px;">
                    <h3> Class Name - Seq Name </h3>
                    <ul class="nav">
                            <li>
                                <p>
                                    </br>
                                    <button class="myround btn-xs btn-primary" type="button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </p>
                            </li>
                            {% for pose in poses %}
                            <li>
                                <div>
                                    <h4> {{pose.english_name}} </h4>
                                    <img class="img-thumbnail" alt="{{pose.english_name}}" data-holder-rendered="true" src={{pose.pose_image.url}} style="width:128px; height:128px">
                                    <p> {{pose.register_date}} </p>
                                </div>
                                <button class="myround btn btn-xs btn-primary" type="button">
                                    <small><span class="glyphicon glyphicon-plus" style="font-size:1em"></span></small>
                                </button>
                            </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-fixed-bottom navbar-collapse collapse" id="bottombar" style="background-color:#e5e5e5">
        <footer class="footer" >
            <div class="container">
                <p class="text-muted" align="center"  style="margin-top:20px; margin-bottom:20px">© 2015 Virgin Ilands Paper Corp. - <a href="">About</a> - <a href="mailto:jylee0121@gmail.com">Contact</a> - <a href="">Privacy</a>

                </p>
            </div>
        </footer>
        </nav>
    </body>
</html>
